* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.body {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
}

.timer {
  display: flex;
}

.field {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 250px;
  height: 250px;
  margin-right: 20px;
  text-transform: uppercase;
  text-align: center;
  background-color: blueviolet;
  color: white;
}

.group {
  display: inline-block;
}
button {
  cursor: pointer;
  font-size: 30px;
}

button {
  border: solid 5px;
  border-color: rgb(233, 13, 13);
}

button:active{
  background-color: yellow;
}
